.limiter {
    width: 100%;
    margin: 0 auto;
}

.container_page{
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;  
  }
  
  .star{
    width: 10em;
    border: 1px solid;
  }

  #rating{
    color: white;
  }

  .rate_btn {
    border-radius: 10px;
    background: #b94d2c;
    font-size: large;
    color: white;
    padding: 10px;
    width: 10%;
    height: 10%;
  }

  .rate_btn:hover {
    background: #ee5020;
  }

  .rating {
      position: absolute;
      width: 100%;
  }