
  
    .btn{
      color: #b94d2c;
      background: transparent;
    }
  
    .btn:focus {
      outline: none !important;
    }
    
    .btn:hover {
      text-decoration: none;
      color: #b94d2c;
    }
  
    .btn span.icon {
      background: url(imgs/icon.png) no-repeat;
      float: left;
      width: 10px;
      height: 40px;
  }
  
  input.input100::placeholder {
    font-size: 15px;
    color: #c86d5193;
  }

  textarea.input100::placeholder {
    font-size: 15px;
    color: #c86d5193;
  }


    .container-page {
      width: 100%;  
      min-height: 100vh;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 15px;
    
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      z-index: 1;  
    }
    
    .container-page::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  
    .limiter {
      width: 100%;
      margin: 0 auto;
    }
    
    .wrap_div {
      width: 60%;
      height: 12%;
      border-radius: 10px;
      overflow: hidden;
      padding: 30px 40px 30px 40px;
      position: absolute;
      opacity: 90%;
    }  
  
    .wrap-cadastro {
      width: 1000px;
      border-radius: 10px;
      overflow: hidden;
    
      background: transparent;
    }
  
    .cadastro-form {
      width: 100%;
      border-radius: 10px;
      background-color: #ffffffe7;
    }
  
    .chk {
        font-family: Ubuntu-Regular;
        color: #555555;
        line-height: 1.2;
        margin-left: 10%;
        width: 25%;
        height: 25%;
      }

    span.login100-form-title{
        color: #b94d2c;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    select {
        border: none;
    }
    