.wrap-avalia {
    width: 90%;
    border-radius: 10px;
    overflow: hidden;
  
    background: transparent;
  }

  .row {
      margin-bottom: 2%;
  }

  .btn {
     background: #b94d2c;
     color: white;
  }
  
  .card {
      background: #f0c6b9;
  }